body,
p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

img{
  display: inline-block;
  max-width: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.botao-font{
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
}