.roboto {
  font-family: "Poppins";
}
.alice {
  color: rgb(42, 146, 236);
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
}
.hero-conteudo {
  display: grid;
  background: aliceblue;
  color: #747474;
  padding: 40px;
  text-align: right;
  align-items: center;
  border-radius: 10px 0 0 10px;
  box-shadow: -0.5px 0.5px 5px rgb(213, 213, 213);
}

.hero-imagem {
  width: 100%;
  height: 100%;
}

.hero-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
  box-shadow: 0.5px -0.5px 5px rgb(213, 213, 213);
}

.botao {
  text-decoration: none;
  background-color: #fff;
  color: rgb(42, 146, 236);
  padding: 10px 20px;
  justify-self: end;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 10px;
}

.botao:hover {
  background:rgb(235, 244, 252);
}
